/* header */
.cityInfo-header{
    max-width: 1110px;
    margin: 13px auto;
    padding-top: 44px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.cityInfo-header-leftSide{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cityInfo-header-rightSide{
  display: flex;
  align-items: center;
  height: 100px;
  margin-right: 38px;
}
.cityInfo-header-rightSide .flexSearchContainer{
  height: 90px;
}
.cityInfo-header-rightSide input{
  height: unset;
  width: unset;
}
.cityInfo-header-rightSide  .suggestions-list{
  width: 200px;
}
.cityInfo-header-city{
  font-size: 14px;
  margin-bottom: 5px;
}
.cityInfo-header-city > a{
  font-size: 18px;
  color: #454545c7;
}
.cityInfo-header-city>a:hover{
  color: #0B2447;
}
.cityInfo-header-city-name{
  font-size: 36px;
  font-weight: bold;
  /* text-transform: uppercase; */
  letter-spacing: 3px;
  margin-left: 15px;
}

.cityInfo-container {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    margin: 0 auto;
    max-width: 1110px;
}
  
  .cityInfo-top-section {
    display: flex;
    flex-direction: row;


  }
  
  .cityInfo-first-box {
    /* background-color: #938282; */
    width: 100%;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;

  }
  .cityInfo-first-box .cityTransport div{
    margin: 11px 46px;
  }
  .cityInfo-first-box .cityTransport h4{
    padding: 9px 0;
    color: #777575;
    font-size: 19px;
  }
  .cityInfo-first-box .cityTransport a{
    margin-right: 18px;
    color: #fff;
    font-weight: bold;
    background-color: #345d80;
    border-radius: 6px;
    padding: 7px 17px;
  }
  .cityInfo-first-box .cityTransport a:hover{
    background-color: #003b6f;
    box-shadow: 0px 0px 2px black;
  }
  .cityInfo-second-box {
    display: flex;
    flex-direction: column;
    height: 617px;
    width: 100%;
    /* background-color: blueviolet; */
  }
  

  .cityImages {
    height: 366px;
    margin: 37px auto;
    width: 500px;
  }
  
  .cityWeather {
    /* background-color: #b0b0b0; */
    /* width: 273px;
    height: 200px;
    margin: 0 auto; */
    /* max-width: 400px; */
    margin-bottom: 24px;
  }
  .cityInfo-placeList-header{
    padding: 10px 3px;
    margin-bottom: 13px;
    border-bottom: 3px solid;
    width: 50%;
  }
  .cityInfo-bottom-section {
    display: flex;
    flex-direction: row;
    height: 50%;
  }
  
  .cityInfo-list-box {
    height: 567px;
    width: 50%;
    display: flex;
  }
  
  .cityInfo-map-box {
    height: 567px;
    width: 50%;
    padding: 0 19px;
  }
  .cityInfo-map-box-container{
    height: 567px;
    width: 100%;
    border-radius: 12px;
    padding: 6px;
    bottom: 74px;
    position: relative;
  }

  /* filters */
.cityInfo-filterBox {
  /* padding: 12px 0; */
  width: 236px;
  height: 40px;
  margin: 8px;
  margin-bottom: 24px;
  position: relative;
  bottom: 71px;
}
.cityInfo-filterBox label{
  margin-right: 14px;
}
.cityInfo-filterBox select{
    background-color: white;
    border: none;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    font-size: inherit;
    padding: .5em 1.5em .5em .5em;
    position: relative;
    width: 158px;
    border: 2px solid #003c70;
    appearance: none;
  }
  .cityInfo-filterBox::after {
    content: '▼';
    position: relative;
    bottom: 33px;
    left: 175px;
    padding: 0 1em;
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s all ease;
    font-size: 14px;
    color: #848484;
  }
.cityInfo-first-box select:hover {
    background-color: #f1f1f1;
  }
.cityInfo-filterBox:hover::after {
    color: #003c70d6;
  }

select::-ms-expand {
  display: none;
}


select:focus {
  outline: none;
}

select option {
  font-weight: normal;
}

select optgroup {
  font-weight: bold;
}


@media (max-width: 867px) { 
  .cityInfo-top-section {
    flex-direction: column-reverse;
  }
  .cityInfo-header {
    margin: 12px 29px;
    margin-top: 21px;
    padding-top: unset;
  }
  .cityInfo-header-rightSide {
    margin-right: 0;
  }
  .cityInfo-header-city-name {
    font-size: 25px;
  }
  .cityInfo-second-box{
    height: 518px;
    justify-content: space-between;
  }
  .cityImages {
    margin-bottom: 14px;
    width: 300px;
    height: 300px;
  }

  .cityInfo-first-box{
    padding: 0 19px;
  }  
  .cityInfo-first-box .cityTransport{
    padding-left: 7px;
  }
  .cityInfo-first-box .cityTransport div{
    margin: 12px 47px;
  }
  .cityInfo-first-box .cityTransport h4{
    padding: 9px 0 0;
  }
  .cityInfo-first-box .cityTransport a{
    margin-right: 18px;
    font-size: 13px;
    padding: 5px 14px;
  }
  .cityInfo-placeList-header{
    width: unset;
    margin: 0 19px;
  }
  .cityInfo-bottom-section {
    flex-direction: column-reverse;
    height: unset;
  }
  .cityInfo-list-box {
    height: 229px;
    width: 303px;
    order: 1;
    margin: 15px auto;  
  }
  .cityInfo-map-box {
    height: 338px;
    width: 80%;
    order: 0;
    margin: 0 auto;
  }
  .cityInfo-map-box-container{
    height: 300px;
    width: 100%;
    border-radius: 12px;
    padding: 6px;
    bottom: 74px;
    position: relative;
  }
    /* filters */
.cityInfo-filterBox {
  /* padding: 12px 0; */
    width: 150px;
    height: 54px;
    margin: 8px;
    margin-bottom: 24px;
    position: relative;
    top: 22px;
    z-index: 1000;
    left: 80px;
  }
  .cityInfo-filterBox::after {
    bottom: 38px;
    left: 105px;
  }
  .cityInfo-filterBox label {
    display: none;
  }
  .cityInfo-filterBox select{
    margin: 7px;
    padding-left: 0.8em;
    width: 133px;
    border: none;
    box-shadow: 0px 0px 8px #000000ba;
    border-radius: 16px;
    font-weight: bold;
  }

  .cityInfo-header-rightSide input{
    cursor: pointer;
    height: unset;
    width: 16px;
  }

  .cityInfo-header-rightSide input:focus,
  .cityInfo-header-rightSide  input[type="text"]:not(:placeholder-shown) {
    cursor:initial;
    width: unset;
  }
  .cityInfo-header-rightSide svg {
    cursor: pointer;
   pointer-events:none;
   
  }
  .cityInfo-header-rightSide .gps {
   pointer-events:none;
    visibility: none;
    opacity: 0;
  }
  
  /* .cityInfo-header-rightSide input:focus + .gps, */
  /* If the .gps element is not an immediate sibling of the input element, you can use the general sibling combinator (~) instead of the adjacent sibling combinator (+). This will target the .gps element if it is a sibling of the input element, regardless of its position: */
  .cityInfo-header-rightSide input:focus ~ .gps,
  .cityInfo-header-rightSide  input[type="text"]:not(:placeholder-shown)~ .gps{
    pointer-events:auto;
    opacity: 1;
    visibility: visible;
  }
  .cityInfo-header-rightSide  input:focus ~ div >svg,
  .cityInfo-header-rightSide  input[type="text"]:not(:placeholder-shown)~ div >svg {
    pointer-events: auto;
    
   }
   .cityInfo-header-rightSide .searchIcon{
    margin: 0px 3px;
    width: 17px;
   }
}