.carousel-style{
    margin-left: 20px;
    margin-right: 20px;
    height: 300px !important;
    border-bottom: 2px solid #6d6c78;
    /* background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center; */
}

.carouselHeader{
    position: absolute;
    z-index: 1;
    margin: 12px 0;
    font-size: 35px;
    font-weight: 600;
    color: #0B2447;
    /* font-family: 'Jost', sans-serif; */
}

/* .metro{
    background-image: url('../Images/metro.jpeg');
}

.hillStation{
    background-image: url('../Images/hillStation.jpeg');
}

.beach{
    background-image: url('../Images/beach.jpeg');
} */

.carouselFlexContainer{
    width: 1046px;
    margin: 0 auto;
}

.flexContainer>div:nth-child(2){
    margin-top: 75px;
  }

@media (max-width: 1080px) {

  .carouselFlexContainer {
    width: 590px;
    /* margin-top: 73px;     */
  }
  .carouselHeader{
      position: unset;
      border-bottom: 2px solid #0B2447;
  }
  .carousel-style{
      margin: 0;
      padding:0 70px;
      border: unset;
  }
}


@media (max-width: 600px) {
    .carouselHeader{
        font-size: 27px;
        padding-left: 15px;
    }
    .carouselFlexContainer {
        width: 357px;
        /* margin: 0 42px; */
        padding: 0 20px;
    }
    .carousel-style {
        margin: 0 40px;
        padding: 0 17px;
        border: unset;
      }
}